<section id="popup" class="hero is-light  is-fullheight">
  <div class="hero-head box has-text-centered">
    <h3 class="title">2018 Senior Awards Ceremony</h3>
    <h4 class="subtitle">Metro Tech High School</h4>
  </div>
  <div class="hero-body">
    <div class="container">
      <article class="media">
        <figure class="media-left">
          <div id="photo" class="image is-3by4">
            <%= image_tag "photos/" + @student.id_number + ".jpg" %>
          </div>
        </figure>
        <div class="media-content">
          <div class="content">
            <h1 class="title">
              <%= @student.firstname %>
                <%= @student.lastname %>
            </h1>
            <h2 class="subtitle">
              <%= @student.blurb %>
            </h2>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>