<section class="section">
  <div class="container">
    <h1 class="title">
      Senior Awards System</h1>

    <%= link_to 'List Students', controller: 'students' %>
      <%= link_to 'New Student', new_student_path %>
  </div>
</section>