.table {
  background-color: unset !important;
}

#popup table td,
#popup table th {
  border: none;
}

#popup h1 {
  font-size: 4rem;
  font-size: 5.9vw;
}

#popup #photo {
  max-height: 300px;
  max-width: 225px;
}

#popup .scholarship-box {
  border: maroon solid 1px;
  border-radius: 6px;
}

div {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.scholarship-list {
  columns: 2;
  column-gap: 3rem;
}

#popup article #photo:last-of-type {
  /* width: 0px; */
  animation: reveal 3s;
}

#popup article .transition-first * {
    /* width: 0px; */
  animation: reveal-mid 3s;
}

#popup article .transition-second * {
  /* width: 0px; */
  animation: reveal-delay 3s ;
}

/* #popup div:last-of-type span {
  /* margin-left: -355px; */

/* animation: slidein 7s; */

}

*/ @keyframes showup {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slidein {
  0% {
    margin-left: -800px;
  }
  20% {
    margin-left: -800px;
  }
  35% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    /* width: 0px; */
  }
  100% {
    opacity: 1;
    /* width: 0px; */
  }
  /* 30% {
    width: 355px;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 355px;
  } */
}

@keyframes reveal-mid {
  0% {
    opacity:0;
  }
  40% {
    opacity: 0;
    /* width: 0px; */
  }
  70% {
    opacity: 1;
    /* width: 0px; */
  }
  /* 30% {
    width: 355px;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 355px;
  } */
}@keyframes reveal-delay {
  0% {
    opacity:0;
  }
  70% {
    opacity: 0;
    /* width: 0px; */
  }
  100% {
    opacity: 1;
    /* width: 0px; */
  }
  /* 30% {
    width: 355px;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 355px;
  } */
}