.table {
  background-color: unset !important;
}

.dataTables_wrapper {
  display: block;
}

#popup .hero-body {
  align-items: initial;
  justify-content: center;
  padding-top: 0;
}

#popup article {
  margin: 10px 3rem;
}

#popup .media-left {
  margin-right: 3rem;
}

#popup h1 {
  font-size: 3rem;
  font-size: 5.6vw;
}

#popup h2 {
  font-size: 2.8rem;
  font-size: 3vw;
}

#popup h3 {
  font-size: 2.8rem;
  font-size: 3vw;
}

#popup #photo {
  max-height: 320px;
  max-width: 240px;
}

#popup .scholarship-box {
  border: maroon solid 1px;
  border-radius: 6px;
}

div {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.content li+li {
  margin-top: 0 !important;
}

#previous,
#next,
#previous-queued,
#next-queued {
  display: none;
}

.scholarship-list {
  margin-top: 0 !important;
  margin-left: 1.5em !important;
  column-width: 700px;
  column-count: 2;
  column-gap: 50px;
  font-size: 3.8rem;
  font-size: 2.5vw;
  white-space: initial;
  padding-left: 1rem;
  padding-right: 1rem;
}

.column_cte {
  word-wrap: break-word;
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.scholarship-list li {
  break-inside: avoid;
}

#popup article #photo:last-of-type {
  /* width: 0px; */
  animation: reveal 3s;
}

#popup .transition-first * {
  /* width: 0px; */
  animation: reveal-mid 3s;
}

#popup .transition-second * {
  /* width: 0px; */
  animation: reveal-delay 3s;
}

/* #popup div:last-of-type span {
  /* margin-left: -355px; */

/* animation: slidein 7s; */

}

*/ @keyframes showup {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slidein {
  0% {
    margin-left: -800px;
  }
  20% {
    margin-left: -800px;
  }
  35% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    /* width: 0px; */
  }
  100% {
    opacity: 1;
    /* width: 0px; */
  }
  /* 30% {
    width: 355px;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 355px;
  } */
}

@keyframes reveal-mid {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
    /* width: 0px; */
  }
  70% {
    opacity: 1;
    /* width: 0px; */
  }
  /* 30% {
    width: 355px;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 355px;
  } */
}

@keyframes reveal-delay {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
    /* width: 0px; */
  }
  100% {
    opacity: 1;
    /* width: 0px; */
  }
  /* 30% {
    width: 355px;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 355px;
  } */
}