.table {
  background-color: unset !important;
}

#popup table td,
#popup table th {
  border: none;
}

#popup h1 {
  font-size: 4rem;
  font-size: 5.9vw;
}

#popup #photo {
  max-height: 300px;
  max-width: 225px;
}

div {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

#popup div:first-of-type {
  /* For increasing performance
                       ID/Class should've been used.
                       For a small demo
                       it's okaish for now */
  animation: showup 7s;
}

#popup div:last-of-type {
  /* width: 0px; */
  animation: reveal 7s;
}

/* #popup div:last-of-type span {
  /* margin-left: -355px; */

/* animation: slidein 7s; */

}

*/ @keyframes showup {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slidein {
  0% {
    margin-left: -800px;
  }
  20% {
    margin-left: -800px;
  }
  35% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    /* width: 0px; */
  }
  20% {
    opacity: 1;
    /* width: 0px; */
  }
  /* 30% {
    width: 355px;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 355px;
  } */
}